@page "/counter"

<h1>Counter</h1>

<p>Current count: @familienfest.Controller.Counter._instance.Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Count up once</button>
<br />
<button class="btn btn-primary" @onclick="DecreaseCount">Count down once</button>
<br />
<button class="btn btn-primary" @onclick="StartCountdown">Count to 0</button>
<br />

@code {
    protected override void OnInitialized()
    {
        familienfest.Controller.Counter._instance.PropertyChanged += (o, e) => StateHasChanged();
    }
    void IncrementCount()
    {
        familienfest.Controller.Counter._instance.CountUp();
    }
    void DecreaseCount()
    {
        familienfest.Controller.Counter._instance.CountDown();
    }
    void StartCountdown()
    {
        familienfest.Controller.Counter._instance.CountToZero();
    }
}
