@page "/counter"

<h1>Counter</h1>

<BSAlert Color="Color.Primary">
    Current count: @familienfest.Controller.Counter._instance.Count
</BSAlert>

<BSListGroup ListGroupType="ListGroupType.Link">
    <BSListGroupItem ListGroupType="ListGroupType.Link" Href="#" IsActive="true">Counter Options</BSListGroupItem>
    <BSListGroupItem ListGroupType="ListGroupType.Link" Href="#" @onclick="IncrementCount">Count up once</BSListGroupItem>
    <BSListGroupItem ListGroupType="ListGroupType.Link" Href="#" @onclick="DecreaseCount">Count down once</BSListGroupItem>
    <BSListGroupItem ListGroupType="ListGroupType.Link" Href="#" @onclick="StartCountdown">Count to 0</BSListGroupItem>
</BSListGroup>

@code {
    protected override void OnInitialized()
    {
        familienfest.Controller.Counter._instance.PropertyChanged += (o, e) => StateHasChanged();
    }
    void IncrementCount()
    {
        familienfest.Controller.Counter._instance.CountUp();
    }
    void DecreaseCount()
    {
        familienfest.Controller.Counter._instance.CountDown();
    }
    void StartCountdown()
    {
        familienfest.Controller.Counter._instance.CountToZero();
    }
}
