@page "/fetchdata"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory

<h1>Weather forecast</h1>
<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.id</td>
                    <td>@forecast.weather_state_name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Zutat[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("ServerAPI");
            
            forecasts = await client.GetFromJsonAsync<Zutat[]>("api/location/44418/2013/4/27/");
        }
        catch (Exception ex)
        {
            int zz = ex.Message.Length;
        }


    }

    public class Zutat
    {
        public int id { get; set; }
        public string weather_state_name { get; set; }
    }
}
