@page "/"

<BSAlert Color="Color.Primary">
    This is a primary BSAlert — check it out!
</BSAlert>

<BSToast IsVisible="true">
    <BSToastHeader>I am Heading</BSToastHeader>
    <BSToastBody>
        <p>Test me</p>
    </BSToastBody>
</BSToast>
