@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@

    <div class="main">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Startseite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Teilnehmen">Teilnehmen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Mitbringen">Mitbringen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Mitmachen">Mitmachen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Kontakt">Kontakt</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="counter">Counter</a>
                        </li>*@
                    @*<li class="nav-item">
                            <a class="nav-link" href="fetchdata">Daten</a>
                        </li>*@
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="#">Familienfest</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    @if (familienfest.Controller.Session.Instance.UserLoggedIn)
                    {
                        <li><a class="nav-link" href="/Account/UserProfile">Meine Daten</a></li>
                        <li><a class="nav-link" @onclick="LogOut">Log out</a></li>
                    }
                    else
                    {
                        <li><a class="nav-link" href="/Account/LogIn">Anmelden</a></li>
                    }
                </ul>
            </div>
        </nav>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code {
    private BSCollapse NavbarCollapse;
    private FormsModel formsModel = new FormsModel();
    bool UserControlledIsOpen { get; set; } = true;
    void onclick(MouseEventArgs e)
    {
        NavbarCollapse.Toggle();
        Console.WriteLine("Navbar State->" + NavbarCollapse.IsOpen.ToString());
    }
    void OpenChanged(bool e)
    {
        Console.WriteLine("OpenChanged->" + e.ToString());
    }

    void UserControlledClick(MouseEventArgs e)
    {
        UserControlledIsOpen = !UserControlledIsOpen;
        StateHasChanged();

    }

    void LogOut()
    {
        familienfest.Controller.Session.Instance.TryLogout();
        NavigationManager.NavigateTo("");
    }

    public class FormsModel
    {
        public string Blank { get; set; }
    }
}
