@inherits LayoutComponentBase

<div class="page">

    <div class="sidebar">
            <NavMenu />
        </div>

    <div class="main">
        <div class="top-row px-4">
            <BSDropdown>
                <BSDropdownToggle>username</BSDropdownToggle>
                <BSDropdownMenu>
                    <BSDropdownItem Href="javascript:void(0);">Action</BSDropdownItem>
                    <BSDropdownItem Href="javascript:void(0);">Another Action</BSDropdownItem>
                    <BSDropdownItem IsDivider="true"/>
                    <BSDropdownItem Href="javascript:void(0);">Logout</BSDropdownItem>
                </BSDropdownMenu>
            </BSDropdown>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code {
    private BSCollapse NavbarCollapse;
    private FormsModel formsModel = new FormsModel();
    bool UserControlledIsOpen { get; set; } = true;
    void onclick(MouseEventArgs e)
    {
        NavbarCollapse.Toggle();
        Console.WriteLine("Navbar State->" + NavbarCollapse.IsOpen.ToString());
    }
    void OpenChanged(bool e)
    {
        Console.WriteLine("OpenChanged->" + e.ToString());
    }

    void UserControlledClick(MouseEventArgs e)
    {
        UserControlledIsOpen = !UserControlledIsOpen;
        StateHasChanged();

    }

    public class FormsModel
    {
        public string Blank { get; set; }
    }
}
